.signup-form {
	text-align: center;
	width: 100%;
}

p {
	padding-bottom: 15px;
}

.firebaseui-idp-list {
	width: 100%;
}

.firebaseui-idp-list > .firebaseui-list-item {
    margin-bottom: 15px;
    display: block;
    width: 100%;
}




