header {
  padding: 30px 15px;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.bulletin-board {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #aaa;
}

ul {
	list-style-type: square;
}

.bulletin-post {
  padding: 5px;
  width: 100%;
}

  