
.user-home-page {
	text-align: center;
	padding-bottom: 100px;
}

.user-whereabouts, .user-whereabouts-list {
	width: 100%;
	margin: 10px auto;
}

.user-whereabouts {
	background-color: #aaa;
}

.bulletin-list {
	padding: 10px 0px;
	margin-bottom: 20px;
}

.bulletin-list li {
	padding: 5px 0px;
}

.update {
	background-color: #bbb;
	padding: 20px 0px;
}

.update input {
	margin: 0px 5px;
}

.link {
	margin-top: 2%;
}