* {
  box-sizing: border-box;
}

header {
  padding: 30px 15px;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.user-status {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #bbb;
}

.usr-main, .contacts-single-open {
  background-color: silver;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 2px 0px 10px black;
}

.usr-pic, ul {
  display: inline-block;
  width: 45%;
  text-align: center;
}

img {
  border-radius: 50%;
}

li {
  list-style-type: none;
}

.bulletin-board ul {
  width: 100%;
}
.bulletin-post {
  list-style-type: square;
  padding: 5px;
}
